@font-face {
    font-family: 'Heavitas';
    src: url('Heavitas.ttf') format('woff2');
    font-display: swap;
}


body {
    font-family: 'Heavitas';
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
    height: 40px;
}

.navbar .nav-links {
    display: flex;
    gap: 1.5rem;
    margin-left: 30px;
}

.navbar .logging {
    display: flex;
    gap: 1.5rem; 
    margin-left: auto;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

.navbar .logging a {
    padding: 0.5rem 1rem;
    border-radius: 12px;
}

.navbar .logging a:first-child {
    color: green;
}

.navbar .logging a:last-child {
    background-color: green;
    color: white;
}

.hero-content {
    margin: 2rem;
    margin-right: 50%;
}

.hero-content .big-text h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000;
}

.hero-content .Button a {
    display: inline-block;
    background-color: #00A859;
    color: white;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 16px;
    transition: background-color 0.3s;
}

.features {
    background-color: white;
    max-width: 400px;
    margin-left: auto;
    margin-right: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.features h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: 2px solid #00A859;
    padding-bottom: 0.5rem;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features ul li img {
    height: 40px;
    width: 40px;
}


.features ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}