.section {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftImage {
	display: flex;
	justify-content: flex-end;
	background-image: url('/LeftSide.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	flex: 1;
	width: 100%;
	height: 100%;
}

.rightImage {
	display: flex;
	justify-content: flex-end;
	background-image: url('/RightSide.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
	flex: 1;
	width: 100%;
	height: 100%;
}

.formLogo {
	height: 6em;
	margin: -4em 0 0 0;
	user-select: none;
}

.middleSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
	padding: 0;
	gap: 0;
}

.middleSection form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2em 0;
	gap: 1em;
	width: 100%;
}

.middleSection form h3 {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--textdark);
}

.middleSection form h4 {
	width: 100%;
	margin: 0;
	color: var(--textdark);
}

.middleSection form input:not([type="submit"]) {
	padding: 0 4px;
	color: var(--textdark);
	height: 3em;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid var(--textdark);
	box-shadow: 0px 2px 4px var(--textdark);
}

.middleSection form input[type="submit"] {
	cursor: pointer;
	height: 2em;
	border-radius: 5px;
	border: 0;
	outline: 0;
	background-color: var(--green);
	font-size: 20px;
	font-weight: bolder;
	box-shadow: 0px 2px 4px var(--textdark);
	transition: all 500ms;
}

.middleSection form input[type="submit"]:hover {
	transition: all 500ms;
	background-color: var(--secondary);
	color: var(--background-color);
}

.middleSection form input::placeholder {
	font-size: calc(10px + .25vw);
}

.middleSection form div{
	position: relative;
	width: 100%;
}
.middleSection form div input{
	width: 100%;
}

.middleSection form div button{
	font-size: 1em;
	color: var(--secondary);
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	transition: all 500ms;
}