<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Change Password</title>
</head>

<body>
	<form id="inputForm">

		<h1>Recovering Email: <%= email %></h1>

		<input type="hidden" name="email" id="email" value="<%=email %>">

		<label for="password">Password</label>
		<input type="password" name="password" id="password">
		
		<label for="confirmpassword">Confirm Password</label>
		<input type="password" name="confirmpassword" id="confirmpassword">

		<input type="submit">

	</form>

	<a href="/user-register">Register Page</a>
	<a href="/user-login">Log In</a>

	<script>
		document.getElementById("inputForm").addEventListener('submit', function (e) {
			e.preventDefault()

			const email = document.getElementById('email').value;
			const password = document.getElementById('password').value;
			const confirmpassword = document.getElementById('confirmpassword').value;

			if (password !== confirmpassword) {
				alert("Password Mismatch")
				return 
			}

			fetch('/api/recover-email', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					email,
					password,
					confirmpassword
				}),
			})
				.then(res => {
					if (!res.ok){
						throw new Error("Change Password Failure")
					}
					return res.json();
				})
				.then(data => {
					alert("Changed Password Successfully")
					console.log(data)
					window.history.replaceState(null, '', window.location.pathname);
					window.location.href = ('/user-login')
				})
				.catch((err) => {
					console.error(err);
					alert("Change Password Failure");
				})
		})

	</script>
</body>

</html>