<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Recover Email</title>
</head>

<body>
	<h1>Recover Account</h1>
	<form id="inputForm">
		<label for="email">Email</label>
		<input type="text" name="email" id="email">
		<input type="submit">

	</form>
	
	<a href="/user-login">Log In Page</a>

	<script>
		document.getElementById("inputForm").addEventListener('submit', function (e) {
			e.preventDefault()

			const email = document.getElementById('email').value;

			fetch('/api/account-confirmation', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					email
				}),
			})
				.then(res => {
					if (!res.ok){
						throw new Error("Recovery Failure")
					}
					return res.json();
				})
				.then(data => {
					alert("Successful Authentication")
					if (data.redirectUrl) {
						window.location.href = data.redirectUrl;
					}
					
					console.log(data)
				})
				.catch((err) => {
					console.error(err);
					alert("Unsuccessful Authentication");
				})
		})

	</script>
</body>

</html>