<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Log In</title>
</head>

<body>
	<h1>Log In </h1>
	<form id="inputForm">
		<label for="email">Email</label>
		<input type="text" name="email" id="email">

		<label for="password">Password</label>
		<input type="password" name="password" id="password">

		<input type="submit">

	</form>

	<% const username = loggedUser ? loggedUser : null %>
	<% if(username) {%>
		<a href="/homepage"><%= username %> already logged in</a>
	<% } %>


	<a href="/user-register">Register Page</a>
	<a href="/user/forgot-password">Forgot Password</a>

	<script>
		document.getElementById("inputForm").addEventListener('submit', function (e) {
			e.preventDefault()

			const email = document.getElementById('email').value;
			const password = document.getElementById('password').value;

			fetch('/api/login', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					email,
					password
				}),
			})
				.then(res => {
					if (!res.ok){
						throw new Error("Login Failure")
					}
					return res.json();
				})
				.then(data => {
					alert("Login Success")
					window.location.replace("/homepage")
					console.log(data)
				})
				.catch((err) => {
					console.error(err);
					alert("Login Unsuccessful");
				})
		})

		

	</script>
</body>

</html>