.aside{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 20%;
	height: 100vh;
	transition: all 500ms;
	border-right: 0.5px inset var(--secondary);
	overflow: hidden;
}

.asideClose{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 3em;
	height: 100vh;
	transition: all 500ms;
	border-right: 0.5px inset var(--secondary);
}

.asideClose .buttonSection{
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	height: auto;
	min-height: 50%;
	width: 100%;
	transition: all 500ms;
}


.asideClose .buttonSection a{
	height: 6vh;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	border-radius: 10px;
	padding: 0 8px;
	border: 1px solid var(--secondary);
	color: var(--textdark);
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0px 2px 4px var(--textdark);
	transition: all 500ms;
}

.asideClose header{
	justify-content: center;
}

.header{
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--tertiary);
}

.header a{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header a img{
	height: 3em;
}

.section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: calc(100% - 8vh);
}

.buttonSection{
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 1em;
	height: auto;
	min-height: 50%;
	width: 100%;
	transition: all 500ms;
}

.buttonSection hr{
	width: 80%;
}

.buttonSection a{
	height: 6vh;
	width: 90%;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 1em;
	border-radius: 10px;
	padding: 0 8px;
	border: 1px solid var(--secondary);
	color: var(--textdark);
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0px 2px 4px var(--textdark);
	transition: all 500ms;
}

.buttonSection a:hover{
	background-color: var(--green);
	border:  1px solid var(--green);
	color: var(--textlight);
	transition: all 500ms;
}

.closeButton{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
	width: 100%;
	background-color: var(--primary);
	border-top: 1px inset var(--secondary);
	color: var(--tertiary);
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	outline: none;
	transition: all 500ms;
}

.closeButton:hover{
	cursor: pointer;
	background-color: var(--secondary);
	color: var(--primary);
	transition: all 500ms;
}

.active{
	background-color: var(--green) !important;
	color: var(--textlight) !important;
	border: 1px solid var(--green) !important;
}
