.mainSection{
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	width: 100%;
}

.transactionSection{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	height: 100%;
	gap: 1em;
	margin: 1em;
	box-sizing: border-box;
	border-radius: 15px;
	overflow: hidden;
}

.transactionSection header{
	height: 4em !important;
	/* border-radius: 15px 15px 0px 0px; */
}

.budgetSection{
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	height: 100%;
	border-radius: 15px;
	margin: 1em;
	border: 1px solid var(--secondary);
	overflow: hidden;
}

.budgetSection header{
	height: 5em !important;
	/* border-radius: 15px 15px 0px 0px; */
}

.inventorySection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
	margin: 1em;
	width: 100%;
	border-radius: 15px;
	border: 1px solid var(--secondary);
	overflow: hidden;
	box-shadow: 0px 2px 2px var(--textdark);
}

.inventorySection header{
	height: 5em !important;
	/* border-radius: 15px 15px 0px 0px; */
}

.inventorySection header h1 {
	font-size: 1.5em !important;
}

.inventorySection header p {
	font-size: 1em !important;
}

.subSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 1px solid var(--secondary);
	border-radius: 15px;
	overflow: hidden;
	background-color: var(--background-color);
	box-shadow: 0px 2px 2px var(--textdark);
}

.sectionChart{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1em;
	height: 100%;
	background-color: var(--background-color);
	box-shadow: 0px 2px 2px var(--textdark);
}