/* Main Section */
.mainSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    gap: 1.5em; /* Add space between the sections */
}

/* Transaction Section */
.transactionSection {
    display: flex;
    justify-content: space-between;
    gap: 2em; /* Increase gap if you want more space between the charts */
    height: auto;
    width: 100%; /* Ensure it takes full available width */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.transactionSection .subSection {
    flex: 1; /* Each section takes equal space, but will shrink or grow based on screen size */
    max-width: 800px; /* Limit the max width of each sub-section */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Inventory Section */
.inventorySection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Make inventory section slightly smaller */
    margin: 0 auto;
    width: 100%; /* Take up full width */
    height: auto;
}

/* Transactions Section */
.transactionsSection {
    display: flex;
    flex-direction: column;
    gap: 2em; /* Space between tables */
    margin-top: 2em;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Transactions Section */
.transactionsSection {
    display: flex;
    flex-direction: column;
    gap: 2em; /* Space between transactions */
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.transactionsSection h2 {
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: bold;
}

/* analytics.module.css */
.recordsTable {
    display: flex;
    flex-direction: column;
    gap: 2em; /* Space between transactions */
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  