
.mainSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    gap: 1.5em; /* Add space between the sections */
}
/* Transaction Section */
.transactionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em; /* Increase gap if you want more space between the charts */
    height: auto;
    width: 100%; /* Ensure it takes full available width */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}
/* Sub-sections (Individual Chart Containers) */
.transactionSection .subSection {
    flex: 1; /* Each section takes equal space, but will shrink or grow based on screen size */
    /* max-width: 800px; Limit the max width of each sub-section */
    display: flex;
    width: 50em;
    justify-content: center;
    align-items: center;
}

.transactionchart {
    width: 1000px;
    height: 1000px;
    margin-bottom: 9rem;
}

.inventorychart {
    width: 1000px;
    height: 1000px;
    margin-bottom: 9rem;
}
