.main{
	display: flex;
	justify-content: space-between;
	gap: 0;
	height: 100vh;
}

.section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.embedSection{
	display: flex;
	flex-direction: column;
	/* width: calc(100vw - 16vw); */
	width: 100%;
	/* min-height: calc(100% - 8vh); */
	height: auto;
	overflow-y: auto;
	background-color: var(--primary);
}

