@font-face {
    font-family: 'Heavitas';
    src: url('../../assets/heavitas.ttf') format('woff2');
    font-display: swap;
}

.lowerSection {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navigation {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Heavitas', sans-serif;
}

.navigation .logo {
    flex-grow: 0.09; 
}

.navigation .links {
    display: flex;
    gap: 20px; 
    flex-grow: 0;
    font-size: 17px;
}

.navigation .links a {
    color: black;
    text-decoration: none;
    margin-right: 20px; 
}

.navigation .logging {
    display: flex;
    gap: 20px; 
    margin-left: auto; 
    align-items: center; 
}

.navigation .logging a {
    display: inline-block; 
    font-weight: bold; 
    font-size: 17px;
}

.navigation .logging a:first-child {
    text-decoration: none;
    color: rgba(54, 175, 87, 1); 
}

.navigation .logging a:last-child {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(54, 175, 87, 1);
    padding: 0.5rem 1.2rem;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.navigation .logging a:last-child:hover {
    background-color: rgba(45, 142, 58, 1);
}

.halfLeft {
    padding: 2rem;
    background-color: #232323;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.halfLeft h1 {
    font-size: 45px;
    margin-bottom: 1rem;
}

.halfLeft h3 {
    font-family: sans-serif;
    font-size: 18px;
    margin-right: 20px;
}

.halfRight {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.halfRight img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


@media (max-width: 768px) {
    .lowerSection {
        display: flex;
        height: auto;
        overflow-y: scroll;
    }

    .halfLeft {
        padding: 1rem;

    }

    .halfLeft h1 {
        font-size: 35px;
    }

    .halfLeft h3 {
        font-size: 16px;
    }

    .halfRight img {
        display:none
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: auto;
    }

    .navigation .logo {
        margin-bottom: 0.5rem;
    }

    .navigation .links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .navigation .logging {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navigation .logging a:last-child {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .halfLeft h1 {
        font-size: 28px;
    }

    .halfLeft h3 {
        font-size: 14px;
    }

    .navigation .links {
        font-size: 14px;
    }

    .halfRight img {
        display:none
    }

    .navigation .logging a {
        font-size: 14px;
    }
}
