@font-face {
    font-family: 'Heavitas';
    src: url('../../assets/heavitas.ttf') format('woff2');
    font-display: swap;
}

.section {
    height: 100vh;
    width: 100vw;
    font-family: 'Heavitas', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navigation {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*.navigation .logo {
    flex-grow: 0.09; 
}*/

.navigation .logo img {
    max-height: 50px;
}

.navigation .links {
    margin-left: 1rem;
    display: flex;
    gap: 20px; 
    flex-grow: 1;
    font-size: 1rem;
}

.navigation .links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.navigation .links a:hover {
    color: rgba(54, 175, 87, 1);
}

.navigation .logging {
    display: flex;
    gap: 15px; 
    align-items: center; 
}

.navigation .logging a {
    font-weight: bold; 
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.navigation .logging a:first-child {
    color: rgba(54, 175, 87, 1); 
}

.navigation .logging a:last-child {
    color: white;
    background-color: rgba(54, 175, 87, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navigation .logging a:last-child:hover {
    background-color: rgba(45, 142, 58, 1);
}

.logged{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: var(--textdark);
    height: 3em;
    min-width: 16%;
    width: auto;
    border-radius: 10px;
    border: 1px solid var(--textdark);
    transition: all 500ms;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logged:hover{
    transition: all 500ms;
    color: var(--textlight);
    background-color: var(--green);
    border: 1px solid var(--green);
}

.logged span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border: 1px solid var(--primary);
    border-radius: 50%;
}

.heroContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;
    padding: 2rem;
}

.heroContent .leftContent {
    color: black;
}

.heroContent .leftContent h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin: 0;
}

.heroContent .leftContent h1:last-child {
    text-decoration: underline;
}

.heroContent .leftContent .subheader h2 {
    font-size: 1rem;
    margin: 1rem 0;
}

.heroContent .loggingIn a {
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    background-color: rgba(54, 175, 87, 1);
    padding: 0.75rem 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.heroContent .leftContent .loggingIn a:hover {
    background-color: rgba(45, 142, 58, 1);
}

.rightContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featuresCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0; 
    width: 80%;
    max-width: 500px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.featuresCard h2 {
    background-color: #333; 
    color: white;
    padding: 1rem; 
    margin: 0; 
    border-radius: 10px 10px 0 0;
    font-size: 2.5rem; 
    text-align: center; 
}

.featuresCard ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

.featuresCard li {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.featuresCard li img {
    width: 50px; 
    height: 50px;
}

.featuresCard li span {
    color: #000000;
    font-size: 1.5rem;
    text-transform: uppercase; 
}


@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .navigation .links {
        flex-wrap: wrap;
        gap: 10px;
    }

    .navigation .logging {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}


@media (max-width: 1024px) {
    .heroContent {
        grid-template-columns: 1fr;
    }

    .featuresCard {
        width: 100%;
        height: auto;
    }

    .featuresCard li img {
        width: 40px;
        height: 40px;
    }

    .featuresCard li span {
        font-size: 0.9rem;
    }
}
